.header {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #34495E;
  margin-bottom: 10px;
}

.header table {
  font-size: 12px;
  font-weight: bold;
}

.logo {
  padding-right: 250px; 
  color: #16A085;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.content th {
  background-color: #16A085;
  border:1px solid #16A085;
  color: #fff;
}

.content th, .content td{
  padding: 10px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #16A085;
  border-bottom: 1px solid #16A085;
  border-left: 1px solid #16A085;
  border-right: 1px solid #16A085;
  margin-bottom: 20px;
}

.contents th {
  background-color: #16A085;
  border:1px solid #16A085;
  color: #fff;
}

.contents th, .contents td{
  padding: 10px 37px 10px 38px;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #16A085;
  margin-bottom: 20px;
}

.x1 {
  color:  #95A5A6;
}

.x2 {
  color: #ECF0F1;
}

.x3 {
  background-color: #16A085;
  color: #ECF0F1;
  padding: 10px;
}

.x4 {
  padding-right: 250px;
}

.total {
  margin-top: 10px;
  text-align: center;
}